@using Northwind.Blazor.Models
@using Northwind.Core.Dtos
@using Northwind.Core.Interfaces.Services
@inject IProductsService _productsSvc
@page "/products"
<div class="row mb-1">
    <div class="col-6">
        <span class="h5">Products</span>
    </div>
    <div class="col-6 text-end">
        <NavLink href="products/create" class="btn btn-primary btn-sm">Create Product</NavLink>
    </div>
</div>
<div class="row">
    <div class="col-12">
@if(_products is null)
{
    <div>Loading...</div>   
}
else
{   
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr class="text-center">
            <th>Name</th><th>Code</th><th>Unit Price</th><th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in _products)
        {
            <tr>
                <td><NavLink href="@string.Format("products/{0}", product.Id)">@product.Name</NavLink></td>
                <td>@product.Code</td>
                <td class="text-end">@product.UnitPrice.ToString("C")</td>
                <td>@product.Description</td>
            </tr>
        }
    </tbody>
</table>
}
    </div>
</div>
@code {
    private ICollection<ProductDto>? _products;

    protected override async Task OnInitializedAsync()
    {        
        _products = await _productsSvc.GetAll();
        base.OnInitialized();
    }
}
