@page "/purchaseorders"
@inherits PageBase

<MudPaper Elevation="2" Class="my-1">
    <MudToolBar>
        <MudText Typo="Typo.subtitle1">Purchase Orders</MudText>
        <MudSpacer/>
        <MudButton Href="purchaseorders/create" Variant="Variant.Filled" Color="Color.Primary">New</MudButton>
        <MudDivider Vertical="true" FlexItem="true" Class="mx-4" Light="true"/>
        <MudSelect T="string" Label="Supplier" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense" Variant="Variant.Outlined" Dense="true" Class="mx-1">
            <MudSelectItem Value="@("Cappuccino")" />
            <MudSelectItem Value="@("Cafe Latte")" />
            <MudSelectItem Value="@("Espresso")" />
        </MudSelect>
        <MudSelect T="string" Label="Status" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense" Variant="Variant.Outlined" Dense="true" Class="mx-1">
            <MudSelectItem Value="@("Cappuccino")" />
            <MudSelectItem Value="@("Cafe Latte")" />
            <MudSelectItem Value="@("Espresso")" />
        </MudSelect>
        <MudButton Href="products/create" Variant="Variant.Filled" Color="Color.Secondary">Find</MudButton>
        <MudDivider Vertical="true" FlexItem="true" Class="mx-4" Light="true" />        
        <MudPagination Color="Color.Primary" Count="_totalPages" SelectedChanged="PaginationChangedAsync" />
    </MudToolBar>
</MudPaper>
@if (_isProgressBarVisible)
{
    <MudProgressLinear Indeterminate="true" />
}
@if(_purchaseOrders is not null)
{
<MudSimpleTable Bordered="true" Hover="true" Outlined="true">
    <thead>
        <tr>
            <th style="text-align:center;">Id</th>
            <th style="text-align:center;">Supplier</th>
            <th style="text-align:center;">Status</th>
            <th style="text-align:center;">Total</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var order in _purchaseOrders)
    {
        <tr>
            <td><MudLink Href="@($"purchaseorders/{order.Id}")">@order.Id</MudLink></td>
            <td>@order.Supplier.Name</td>
            <td>@order.Status</td>
                    <td style="text-align:right;">@order.Total.ToString("C")</td>
        </tr>
    }
    </tbody>
</MudSimpleTable>
}