@page "/customers"
@using Northwind.Blazor.Helpers
@using Northwind.Blazor.Models
@using Northwind.Core.Interfaces.Services
@inherits PageBase
@inject ICustomersService CustomersService

<MudPaper Elevation="2" Class="my-1">
    <MudToolBar>
        <MudText>Customers</MudText>
        <MudSpacer/>
        <MudButton Link="customers/create" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small">Create Customer</MudButton>
    </MudToolBar>
</MudPaper>

@if(IsLoading)
{
    <MudProgressLinear Indeterminate="true"/>
}
@if(_customers is not null)
{
<MudSimpleTable Style="overflow-x: auto;" Dense="true" Hover="true" Bordered="true">
    <thead>
        <tr class="text-center">
            <th>Name</th>
            <th>Contact Name</th>
            <th>Contact Title</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var customer in _customers)
    {
        <tr>               
            <td class="d-flex">
                <MudLink Href="@string.Format("customers/{0}", customer.Id)" Underline="Underline.None" Class="flex-grow-1">@customer.Name</MudLink>
            </td>
            <td>@customer.ContactName</td>
            <td>@customer.ContactTitle</td>
            <td>@customer.Phone</td>
        </tr>
    }
    </tbody>
</MudSimpleTable>
}
else{
    <MudAlert Severity="Severity.Info" Variant="Variant.Text">No shippers found.</MudAlert>
}
@code {
    private ICollection<Customer> _customers = new List<Customer>();

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        await LoadCustomers();
        IsLoading = false;
    }

    private async Task LoadCustomers()
    {
        var customers = await CustomersService.GetAll();
        _customers = customers.Select(x => MapperHelper.ToCustomer(x)).ToList();
    }
}
